* {
  box-shadow: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-pink: #cc0066; //var(--main-pink);
  --main-blue: #003366; //var(--main-blue);
  --main-gray: #eeeeee; //var(--main-gray);
}

/*****************************
            Generic
*****************************/
.margin-tb {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-t {
  margin-top: 30px;
}

.margin-b {
  margin-bottom: 30px;
}

a:hover {
  cursor: pointer !important;
}

.tooltip .tooltip-inner {
  width: 300px !important;
  max-width: 300px;
}

/******************************
    Css for Header.php
******************************/

.header {
  background: var(--main-blue);
  color: white;
  padding: 10px 0;
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 100px;
      margin-bottom: 5px;
      position: absolute;
      top: 5px;
      left: 20px;
    }

    .header-logo-heading {
      width: 100%;
      h1 {
        margin: 0px auto;
      }
    }

    #settingButton:hover {
      transition: 0.4s;
      filter: brightness(0.7);
    }
  }
}

.search-top {
  color: white;
  form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin: 0px;
    input {
      flex-grow: 1;
      height: 100%;
      border: 1px solid var(--main-blue);
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      padding-left: 20px;
      font-size: 20px;
    }
    input:focus {
      outline: none;
    }
    input::placeholder {
      font-size: 20px;
      color: var(--main-blue);
      filter: opacity(0.5);
    }
    a.remove-text {
      i {
        right: 75px;
        top: 12px;
      }
    }
    a.search-btn {
      background: var(--main-pink);
      height: 100%;
      display: flex;
      align-items: center;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      padding: 0px 20px;
      transition: 0.4s;
    }
    a.search-btn:hover {
      background-color: white;
      border: 1px solid var(--main-pink);
      border-left: none;
      i {
        color: var(--main-pink);
      }
    }
  }
}

/******************************
    Media Query for Search top
******************************/

@media screen and (max-width: 1024px) {
  .search-top form a.remove-text i {
    right: 75px;
  }
}

@media screen and (max-width: 768px) {
  .search-top form a.remove-text i {
    right: -5px;
  }
}

.sidebar {
  position: fixed;
  right: -300px;
  top: 0px;
  height: 100vh;
  width: 300px;
  border: 1px solid var(--main-gray);
  background: #fff;
  transition: all 0.4s;
  padding: 30px 40px;

  #settingForm {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    .fa-times {
      color: var(--main-blue);
      margin-bottom: 5px;
    }

    h3 {
      color: var(--main-blue);
      font-weight: 600;
    }

    .calendar-icon {
      position: relative;

      .fa-calendar-alt {
        position: absolute;
        right: 8px;
        bottom: 28px;
        color: var(--main-blue);
      }
    }
  }

  .backButton {
    background-color: var(--main-blue) !important;
    border-color: var(--main-blue);
    color: white;
    font-weight: 600;
    border-radius: 0px;
  }
  .backButton:focus,
  .backButton:active {
    box-shadow: none;
    outline: none;
  }
  .backButton:hover,
  .backButton:active {
    border-color: var(--main-blue);
    background-color: white !important;
    color: var(--main-blue);
  }
}

.sidebar-right-show {
  right: 0px !important;
}

/******************************Css for Header.php End******************************/

/******************************
    Css for index.php
******************************/

.navigation-tabs-main {
  a {
    background-color: #fad9ed;
    color: var(--main-pink);
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
    transition: 0.4s;
    i {
      color: var(--main-pink);
    }
  }
  a.active {
    background-color: var(--main-pink) !important;
    color: white !important;
    box-shadow: 0px 0px 3px 0px;
    transform: scale(1.02);
    i {
      color: white;
    }
  }
  a:hover {
    background-color: white !important;
    color: var(--main-pink) !important;
    border-color: var(--main-pink);
    i {
      color: var(--main-pink);
    }
  }
}

.table-wrapper {
  .table {
    border-collapse: unset;
    border: 1px solid var(--main-gray);
    color: var(--main-blue);

    a {
      color: var(--main-blue);
    }

    .table-head {
      th {
        border: none;
        vertical-align: top;
        white-space: nowrap;
        h4 {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }

    .table-body {
      td {
        vertical-align: middle;
        max-width: 300px;
        .btn {
          font-weight: 600;
          border-radius: 0px;
        }
        .btn:focus,
        .btn:active {
          box-shadow: none;
          outline: none;
        }
        .accept-btn {
          border-color: var(--main-blue);
          background-color: var(--main-blue);
          color: white;
        }
        .accept-btn:hover,
        .accept-btn:active {
          border-color: var(--main-blue);
          background-color: white;
          color: var(--main-blue);
        }
        .reject-btn {
          border-color: var(--main-pink);
          background-color: var(--main-pink);
          color: white;
        }
        .reject-btn:hover,
        .reject-btn:active {
          background-color: var(--main-pink);
          background-color: white;
          color: var(--main-pink);
        }
      }
    }
  }
}

.pagination-bottom {
  form {
    display: flex;
    justify-content: center;
    li {
      margin: 0px 20px;

      a {
        color: var(--main-blue);
        transition: all 0.4s;
      }

      a:hover {
        background-color: var(--main-blue);
        color: white;
        transform: scale(1.5);
      }

      .chevron {
        border: none;
      }

      .chevron:hover {
        color: var(--main-blue);
        background-color: white;
        transform: scale(2);
      }
    }
  }
}
